/* @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    /* font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100; */
    /* font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; */
    font-family: "Poppins", sans-serif;


}

/* Para el estado de hover del menú desplegable */
.dropdown-toggle:focus,
.dropdown-toggle:hover {
    color: #fff !important;
}

/* Para asegurar que el enlace "Categorías" se mantenga en blanco cuando el menú esté abierto*/
.dropdown-toggle[aria-expanded="true"] {
    color: #fff !important;
}

.nav-item-login {
    color: #000;
    background-color: #C8EE55 !important;

}

/* button login and register  */


.nav-item-register {
    color: #fff;
    background-color: #4038E6 !important;

}

.carrito {
    color: #fff;
    font-size: 2rem;

}

.form-control-busquedad {
    width: 100%;
    height: 5vh
}

.formulario-container {
    width: 58%;
}

a {
    text-decoration: none;
}


/* flecha ">" */
.fa-angle-right {
    position: absolute;
    top: 50%;
    /* Centra verticalmente el ícono */
    right: 0px;
    /* Ajusta la posición desde el borde derecho */
    transform: translateY(-50%);
    /* Asegura que esté centrado verticalmente */
    color: #fff;
    z-index: 5;

}

/* flecha "<" */
.fa-angle-left {
    position: absolute;
    top: 50%;
    left: 0px;
    /* Posicionado a la izquierda */
    transform: translateY(-50%) rotate(360deg);
    /* Rotación 180 grados para apuntar a la izquierda */
    color: #fff;
    z-index: 5;
    font-size: 140rem;
    /* font-size: 100%;
    height: 100%; */
}

/* .fa-solid {
    font-size: 10rem;
} */
.carrusel {
    width: 100%;
    height: 93vh;
    z-index: 1;
}

.img-container {
    position: relative;
    width: 100%;
}